/* 
#3A404C
#5B8DEF
#E7EBF7
#FB6566

#D0DAF4

   10 12 14 16 18 20 24 30
  36 44 52 62 74 86 98 

   2 4 8 12 16 24 32 48 64
  80 96 128 
*/
@font-face {
  font-family: "Frutiger-Regular";
  src: url(../assets/fonts/Frutiger.woff);
}

@font-face {
  font-family: "RidleyGrotesk-Regular";
  src: url(../assets/fonts/RidleyGrotesk-Regular.woff);
}

:root {
  /* Color */
  --dark: #3a404c;
  --light: #e7ebf7;

  --dark-menu: #252830;
  --light-menu: #e7ebf7;

  /* Primary Colors */
  --text-color: #3a404c;
  --action-color: #fb6566;

  /* Background Colors */
  --background-color: #e7ebf7;

  /* Accent Colors */
  --accent-color-main: #5b8def;
  --accent-color-secondary: #d0daf4;

  /* Menu Mobile BG */
  --mobile-menu-bg: #d0daf4;

  /* Logo Color */
  --logo-g1: var(--action-color);
  --logo-g2: var(--text-color);

  /*Text / Heading Font */
  /* --text-font: "Frutiger-Regular", sans-serif; */
  /* --heading-font: "RidleyGrotesk-Regular", sans-serif; */

  /* Font Size */
  --text-sz-default: 1.8rem;
  --text-sz-large: 2rem;

  /* Dimension */
  --nav-height: 9rem;
  --nav-logo-height: 5.8rem;
  --landing-logo: 45vw;
  --landing-logo-max: 36rem;

  /* Color */
  --color-primary: #e7ebf7;
  --color-primary-dark: #e7ebf7;
  --color-primary-transparent: rgba(231, 235, 247, 0.948) 7;
  --color-text: #3a404c;
  --color-text-accent: #5b8def;
  --color-accent: #fb6566;

  /* Font & Font Size */
  --font-primary: "Montserrat", sans-serif;
  --txt-sz-sml: 1.2rem;
  --txt-sz-reg: 1.6rem;
  --txt-sz-lrg: 2rem;
}

[data-theme="dark"] {
  --background-color: var(--dark);
  --text-color: var(--light);
  --mobile-menu-bg: var(--dark-menu);
}

* {
  font-family: var(--font-primary);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
}
p span {
  color: var(--color-text-accent);
}

strong {
  font-weight: 500;
}

/* html,
body,
svg {
  transition: background-color 0.5s ease-in-out, color 0.7s ease-in-out,
    fill 0.7s ease-in-out;
} */

/* main {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
} */

/* section {
  max-width: 1280px;

  margin: 0 14rem;
} */

/* h1,
h2,
h3,
span {
  font-family: var(--heading-font);
} */

/* h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
} */

/* p {
  font-size: var(--text-sz-default);
} */

/* a {
  display: inline-block;
  font-family: var(--text-font);
  text-decoration: none;
  color: inherit;
  background: none;
  cursor: pointer;
} */

ul {
  list-style: none;
}
