/* 
#3A404C
#5B8DEF
#E7EBF7
#FB6566

#D0DAF4
*/
:root {
  /* Main Color */
  --dark: #3a404c;
  --light: #e7ebf7;

  --dark-menu: #252830;
  --light-menu: #d0daf4;

  /* Logo Color */
  --logo-g1: var(--color-action);
  --logo-g2: var(--color-text);

  /* Dimension */
  --nav-height: 9rem;
  --nav-logo-height: 5.8rem;
  --landing-logo: 45vw;
  --landing-logo-max: 36rem;

  /* Color */
  --color-primary: #e7ebf7;
  --color-primary-dark: #e7ebf7;
  --color-background-head: #e7ebf7f3;
  --color-text: var(--dark);
  --color-text-accent: #5b8def;
  --color-action: #fb6566;

  --color-mobile-menu: var(--light-menu);
  --color-background: var(--light);

  /* Font & Font Size */
  --font-primary: "Montserrat", sans-serif;
  --txt-sz-sml: 1.2rem;
  --txt-sz-reg: 1.6rem;
  --txt-sz-lrg: 2rem;
}

[data-theme="dark"] {
  --color-background: var(--dark);
  --color-mobile-menu: var(--dark-menu);
  --color-text: var(--light);
  --color-background-head: #3a404cef;
}

* {
  font-family: var(--font-primary);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-background);
}

html,
body,
svg {
  transition: background-color 0.6s ease-in-out, color 0.4s ease-in-out,
    fill 0.15s ease;
}

header {
  transition: transform 0.3s ease;
}
p span {
  color: var(--color-text-accent);
}

strong {
  font-weight: 500;
}

ul {
  list-style: none;
}
