@media only screen and (max-height: 700px) {
  .landing {
    height: auto;
    padding-top: var(--nav-height);
  }
}

@media only screen and (max-width: 1080px) {
  section {
    margin: 0 12rem;
  }

  /*** Left and Right fixed position ***/
  .left-side {
    left: 1rem;
  }

  .right-side {
    right: 1rem;
  }

  /* About */
  .about-details-container {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --landing-logo: 50vw;
  }

  header {
    padding: 0 3rem;
  }

  section {
    margin: 0 4rem;
  }

  /*** Left and Right fixed position ***/
  .left-side,
  .right-side {
    display: none;
  }

  .landing-social {
    display: block;
  }

  .social-link {
    width: 2.8rem;
    height: 2.8rem;
  }

  .about-details-container {
    grid-template-columns: 1fr;
  }

  /* Contact */
  .contact-container {
    grid-template-columns: 1fr;
    border: none;
  }

  .contact-svg {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --landing-logo: 55vw;
    --nav-logo-height: 5.4rem;
  }

  header {
    padding: 0 2rem;
  }

  section {
    margin: 0 1rem;
  }

  .header-nav-list li:nth-child(-n + 4) {
    display: none;
  }

  .hamburger-item {
    display: block;
  }
}

@media only screen and (max-width: 320px) {
  :root {
    --text-sz-default: 1.6rem;
  }

  .icon {
    width: 4.4rem;
    height: 4.4rem;
  }

  .ts-container li {
    width: auto;
  }
}
