@media only screen and (max-height: 700px) {
  .landing {
    height: auto;
    padding-top: var(--nav-height);
  }
}

/* @media only screen and (max-width: 1080px) {
  section {
    margin: 0 12rem;
  }


  .left-side {
    left: 1rem;
  }

  .right-side {
    right: 1rem;
  }


  .about-details-container {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --landing-logo: 50vw;
  }

  header {
    padding: 0 3rem;
  }

  section {
    margin: 0 4rem;
  }


  .left-side,
  .right-side {
    display: none;
  }

  .landing-social {
    display: block;
  }

  .social-link {
    width: 2.8rem;
    height: 2.8rem;
  }

  .about-details-container {
    grid-template-columns: 1fr;
  }


  .contact-container {
    grid-template-columns: 1fr;
    border: none;
  }

  .contact-svg {
    display: none;
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    backdrop-filter: blur(2px);
    display: none;
  }

  .overlay.active,
  .hamburger {
    display: block;
  }

  .header {
    padding: 1.7rem;
  }

  .nav-link-list {

    background-color: var(--mobile-menu-bg);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;

    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.15s ease-in-out;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-link-list.active {
    transform: translateX(0%);
    pointer-events: auto;
    visibility: visible;
  }

  .nav-link-list li {
    padding: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --landing-logo: 55vw;
    --nav-logo-height: 5.4rem;
  }

  header {
    padding: 0 2rem;
  }

  section {
    margin: 0 1rem;
  }


}

@media only screen and (max-width: 320px) {
  :root {
    --text-sz-default: 1.6rem;
  }

  .icon {
    width: 4.4rem;
    height: 4.4rem;
  }

  .ts-container li {
    width: auto;
  }
} */

/* 1080px */
@media (max-width: 67.5rem) {
  .container {
    padding: 0 5rem;
  }
  .grid {
    column-gap: 4rem;
    row-gap: 7rem;
  }

  .header {
    padding: 1.7rem 3rem;
  }
}

/* 768px */
@media (max-width: 48em) {
  .container {
    padding: 0 4rem;
  }

  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .grid {
    row-gap: 5rem;
  }

  .section-hero,
  .section-about,
  .section-skills-education {
    margin-bottom: 4rem;
  }

  /* Header & Navigation */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    backdrop-filter: blur(2px);
    display: none;
  }

  .overlay.active,
  .hamburger {
    display: block;
  }

  .header {
    padding: 1.7rem;
  }

  .navigation {
    font-size: var(--txt-sz-lrg);
  }

  .nav-link-list {
    background-color: #d0daf4;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;

    justify-content: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.15s ease-in-out;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-link-list.active {
    transform: translateX(0%);
    pointer-events: auto;
    visibility: visible;
  }

  .nav-link-list li {
    padding: 2rem;
  }

  /* Hero */
  .hero-text-logo {
    display: none;
  }

  /* About */
  .about-img-box img,
  .image-container::before {
    width: 35%;
    left: 32.5%;
  }

  /* Skills and Education */
  .skills-list svg,
  .education-logo-name svg {
    width: 6rem;
  }

  /* Projects */
  .project-img {
    width: 80%;
  }

  .project-details:nth-child(3) {
    grid-row: 4;
  }
}

/* 480px */
@media (max-width: 30em) {
  html {
    font-size: 56.25%;
  }

  .container {
    padding: 0 2.5rem;
  }

  .section-hero,
  .section-about,
  .section-skills-education,
  .section-project {
    margin-bottom: 0;
  }

  .section-contact {
    margin-bottom: 2rem;
  }

  .primary-heading {
    white-space: normal;
  }

  .secondary-heading {
    font-size: 3.6rem;
  }

  .tertiary-heading {
    font-size: 2rem;
  }

  /* Header */
  .header-text-logo > * {
    font-size: 2rem;
  }
}
