/*** Logo ***/
.logo-path-g1 {
  fill: var(--logo-g1);
}

.logo-path-g2 {
  fill: var(--logo-g2);
}

/*** Navigation ***/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.2rem;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.nav-logo {
  width: var(--nav-logo-height);
  height: var(--nav-logo-height);
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2.6rem;
}

.nav-links li a {
  font-size: 1.6rem;
}

/*** Left and Right fixed position ***/
.left-side {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 2rem;
  right: auto;
  writing-mode: vertical-lr;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  transform: rotate(180deg);
  text-align: center;
  z-index: 9;
}

.left-side p {
  padding-left: 2px;
}

.container-side-l {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 5rem;
}

/* Vertical Line Left*/
.container-side-l::before {
  content: "";
  width: 1px;
  height: 12rem;
  margin: 0px auto;
  background-color: var(--text-color);
}

.left-side::before {
  position: fixed;
  bottom: 0px;
  left: auto;
  right: -40px;
  z-index: -1;
  content: "";
  width: 10rem;
  height: 22rem;
  background-color: var(--accent-color-secondary);
  margin-bottom: -1.4rem;
}

/* Right */
.right-side {
  /* width: 40px; */
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 3.6rem;
  z-index: 9;
}
.container-side-r {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.8rem;
}

.container-side-r::after {
  content: "";
  width: 1px;
  height: 12rem;
  margin: 0px auto;
  background-color: var(--text-color);
}

.side-nav-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/*** Landing / Hero ***/
.landing {
  min-height: 100vh;
  display: flex;
  padding-bottom: 2rem;
}

.landing div:first-of-type {
  text-align: center;
}

.landing-logo {
  width: var(--landing-logo);
  height: calc(var(--landing-logo) * (319 / 418));
  max-width: var(--landing-logo-max);
  max-height: calc(var(--landing-logo-max) * (319 / 418));
  text-align: center;
  margin-bottom: 2.4rem;
}

.landing h1 {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
}

.landing p {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.landing a {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
}
