/*** Logo ***/
.logo-path-g1 {
  fill: var(--logo-g1);
}

.logo-path-g2 {
  fill: var(--logo-g2);
}

/*** Navigation ***/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-sizing: border-box;

  font-size: 1.6rem;
}

.header-logo {
  width: var(--nav-logo-height);
  height: var(--nav-logo-height);
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2.6rem;
}

/* Side */
/*** Left and Right fixed position ***/
.left-side {
  width: 30px;
  position: fixed;
  bottom: 0px;
  left: 2rem;
  right: auto;
  writing-mode: vertical-lr;

  letter-spacing: 1.5px;
  transform: rotate(180deg);
  text-align: center;
  z-index: 9;
}

.left-side p {
  padding-left: 2px;
  font-size: 1.6rem;
}

.container-side-l {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 5rem;
}

/* Vertical Line Left*/
.container-side-l::before {
  content: "";
  width: 1px;
  height: 12rem;
  margin: 0px auto;
  background-color: var(--text-color);
}

.left-side::before {
  content: "";
  position: fixed;
  bottom: -24px;
  left: -14px;
  z-index: -1;
  width: 10rem;
  height: 22rem;
  background-color: var(--accent-color-secondary);
  opacity: 0.85;
}

/* Right */
.right-side {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 2rem;
  z-index: 9;
}
.container-side-r {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.7rem;
}

.container-side-r::after {
  content: "";
  width: 1px;
  height: 12rem;
  margin: 0px auto;
  background-color: var(--text-color);
}

.side-nav-icon {
  width: 2.2rem;
  height: 2.2rem;
}

/* Landing */
.landing {
  height: 100vh;
  text-align: center;
  margin-bottom: 16rem;
}

.landing-logo {
  width: var(--landing-logo);
  /* Maintain the aspect ratio (319:418) based on the SVG viewBox dimensions */
  height: calc(var(--landing-logo) * (319 / 418));

  /* Limit to avoid scaling too large */
  max-width: var(--landing-logo-max);
  /* Maintain aspect ratio for max height as well */
  max-height: calc(var(--landing-logo-max) * (319 / 418));

  margin-bottom: 2.4rem;
}

.landing h1 {
  margin-bottom: 1.6rem;
}

.landing p {
  margin-bottom: 2.4rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.landing a {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

/* About */
.about-heading {
  width: 100%;
  margin-bottom: 10rem;
  display: flex;
  align-items: center;
}

.about-heading::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: var(--text-color);
}

.user-img {
  width: 100%;
  max-width: 22rem;
  object-fit: cover;
  /* margin: 0 auto; */
  justify-self: center;
}

.about-details-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  place-items: center;
  max-width: 120rem;
  /* max-width: 100%; */
  padding: 0 5rem;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
}

.ts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 1rem;
  max-width: 120;
  max-width: 100%;
  padding: 0 5rem;
  margin: 0 auto;
}

.ts-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(var(--accent-color-main), 0.5);
  border-radius: 8px;
  padding: 1rem;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}
