.primary-highlight {
  color: var(--action-color);
}

.accent-main {
  color: var(--accent-color-main);
}

.no-display {
  display: none;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt-center {
  text-align: center;
}
